/* Your Website Styles */
body {
	text-align: center;
}

h1 {
	font-family: 'Playfair Display', 'sans-serif';
	text-transform: uppercase; letter-spacing: 20px;
	font-size: 5em;
	margin-top: 5px;
	color: #FF3333;
	}



.header {
	font-family: 'Playfair Display', 'sans-serif';
	font-size: 1.7em;
	text-align: left;
	margin-bottom: .5px;
}

nav {
	list-style: none;
}

nav li {
	display: inline-block;
}

nav img {
	max-width: 140px;
	margin: 25px 25px;
	background: teal;
}


p {
	font-family: 'Ubuntu Condensed', 'sans-serif';
	text-align: left;
	font-size: 1em;
	margin-top: .75px;
	margin-bottom: 25px;
}

div {
	margin-top: -60px;	x 
}


/* Show Grid */
body {
	background: url("../img/texture3.jpg") repeat;
}

section {
height: px;
overflow: hidden;
}

section:target {
	height: 100%;
	transition: background 1s;
}
