/* Your Website Styles */
h1 {
	font-family: 'Playfair Display', 'sans-serif';
	text-align: center;
	text-transform: uppercase; letter-spacing: 20px;
	font-size: 5em;
	margin-top: 5px;
	color: #FF3333;
	}


div {
	margin-top: -60px;	x 
}


/* Show Grid */
body {
	background: url("../img/texture3.jpg") repeat;
}